body{
    background-color: rgb(12, 12, 12);
    background-image: url(background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    box-sizing: border-box;
    z-index: 1000;
    letter-spacing: 5px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.logo{
    width: 226px;
    height: 100%;
    text-align: left;
    padding-left: 40px;
}

.title{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 62px;
    font-weight: bold;
    margin-top: -5px;
    line-height: 100px;
}

.title2{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.discord-logo{
  width: 20px;
  height: auto;
}

.checkmark li:before {
  content: '\2713';
  display: inline-block;
  color: rgb(255, 61, 61);
  padding: 0 6px 0 0;
}

.checkmark li {
  list-style-type: none;
  font-size: 1em;
}

.checkmark{
    padding-left: 62px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.join-waitlist-button {
    background-color: rgb(255, 61, 61);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 62px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

footer{
    color: rgb(150, 150, 150);
    padding-left: 62px;
    padding-bottom: 20px;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.discord{
    padding-left: 62px;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 75px;
    background-color: rgb(255, 61, 61);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.discord-logo-black{
    width: 65px;
    height: auto;
}

.discord-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    font-size: 50px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.discord p{
    display: flex;
    align-items: center;
    line-height: 1;
}

.heading{
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-decoration: underline;
}

.news{
    padding-left: 62px;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    background-color: rgb(255, 61, 61);
    padding-bottom: 10px;
    align-items: center;
}

.join-waitlist-button-n1{
    background-color: rgb(255, 61, 61);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}